{% extends "movies/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
        <div class="media-body">
        <b> Highest Rated Movie: {{ user.public_user.highest_rated_movie }} </b>
        <br>
        <b> Lowest Rated Movie: {{ user.public_user.lowest_rated_movie }} </b>
        <br>
        <b> Average ratings: {{ user.public_user.avg_rating }} </b>
        <br>
        </div>
      </div>
    </div>
{% endblock content %}
